# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
ENV/

# Django
*.log
*.pot
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.env
.env.local

# Node / React (futuro frontend)
node_modules/
dist/
build/
.vite/

# Windows
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp

# MariaDB / MySQL
*.sql.bak
